body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
